body {
    background-image: url("white.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color:#ff1919;
    font-family: 'Notable', sans-serif;
    color: black;
}
h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}
#nav{
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}
#nav li{
    float: left;
}
#nav li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
#nav li a:hover{
    background-color:purple;
}
#content{
    border: solid black 2px;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    padding:16px;
    background-color: rgba(255,255,255,0.4);
}
table{
    margin: auto;
}
#content ul, #content ol{
    width: 25%;
    margin: auto;
}
hr{
    color: red;
}